:root {
  --LightYellow: rgb(245, 243, 238);
  --DarkBlue: rgb(90, 97, 117);
  --Orange: rgb(244, 125, 49);
  --Blue: rgb(100, 164, 217);
  --Pink: rgb(255, 143, 152);
  --Turquoise: rgb(123, 205, 200);
  --Navy: rgb(33, 39, 69);
  --Yellow: rgb(255, 222, 166);
  --Grey: rgb(200, 200, 200);
}

/*************************************/ 
/* Basics
/*************************************/

body {
	color: var(--Navy);
	font-family: 'Open Sans', 'Segoe UI', sans-serif;
}

a {
	color: var(--Navy);
}
a.white {
	color: white;
}

h2 {
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 2rem;
	margin: 1rem;
	margin-bottom: 1.25rem;
}

h4 {
	font-family: 'Montserrat', 'Open Sans', sans-serif;
	font-size: 1.25em;
	margin-top: 1em;
}
.btn {
	margin: auto;
}
.btn-lightyellow {
	border-radius: 20px;
	border: 1px solid var(--LightYellow);
	color: var(--LightYellow);
}
.btn-lightyellow a {
	color: var(--LightYellow);
}
.btn-lightyellow a:hover {
	background: var(--Navy);
}

.btn-navy {
	border-radius: 20px;
	border: 1px solid var(--Navy);
}

.btn:hover {
	background: var(--LightYellow);
	color: var(--Navy);
	opacity: 1.0;
}

.expand {
	margin: auto;
	margin-top: 1.5em;
}

/*************************************/ 
/* Sections
/*************************************/

.cream {
	background: var(--LightYellow);
	border-color: var(--Navy);
}

.turquoise {
	background: var(--Turquoise);
	color: var(--Navy);
}

.blue {
	background: var(--Blue);
	color: var(--LightYellow);
}

.pink {
	background: var(--Pink);
	color: var(--Navy);
}

.navy {	
	color: var(--Yellow);
	background-color: var(--Navy);
}

.yellow {
	background: var(--Yellow);
	color: var(--Navy);
}

/*************************************/ 
/* Sprites
/*************************************/

.heart {
	background-image: url(../img/svg/heart.svg);
	background-repeat: no-repeat;
	background-position: right 3em top 1.5em;
  	background-size: 15em 15em;
}

.arrow {
	background-image: url(../img/svg/arrow-thick-top.svg);
	background-repeat: no-repeat;
	background-position: left 3em bottom 6em;
  	background-size: 15em 15em;
}

.cloud {
	background-image: url(../img/svg/cloud.svg);
	background-repeat: no-repeat;
	background-position: left 3em bottom 1.5em;
  	background-size: 15em 15em;
}

.star {
	background-image: url(../img/svg/star.svg);
	background-repeat: no-repeat;
	background-position: right 3em top 3em;
  	background-size: 15em 15em;
}
.sun {
	background-image: url(../img/svg/sun.svg);
	background-repeat: no-repeat;
	background-position: left 3em top 3em;
  	background-size: 15em 15em;
}

/*************************************/ 
/* Nav
/*************************************/

.bg-white {
	background: rgb(255,255,255);
}

.navbar-brand {
	font-family: 'Montserrat', 'Open Sans', sans-serif;
}

/*************************************/ 
/* Container
/*************************************/

.container {
	padding-top: 10em;
	padding-bottom: 11em;
}

@media (min-width: 576px) {
  .container {
    width: 550px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 740px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 980px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1160px;
    max-width: 100%;
  }
}

/*************************************/ 
/* Main
/*************************************/

.card-block {
	padding: 1rem;
}

.card-block ul {
	padding-left: 1.5em;
}
.card-block ul li {
	margin-top: 0.5em;
}

.quote {
	font-family: 'Montserrat', 'Open Sans', sans-serif;
	font-size: 1.5em;
	line-height: 1.25em;
	color: var(--Grey);
}

.author {
	padding-left: 20px;
	color: var(--Grey);
}
.hidden {
	/*display: none;*/
}